<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Alice's Adventures in Wonderland</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
</head>
<body>
<script id="chapterTemplate" type="text/template">
    <div class="chapter clearfix">
        <div class="chapter__content">
            <h2 class="chapter__title"><%= title %></h2>
            <%= content %>
        </div>
        <div class="chapter__controls">
            <span class="chapter__controls-icon chapter__controls-icon_mode_add"></span>
            <span class="chapter__controls-icon chapter__controls-icon_mode_edit"></span>
            <span class="chapter__controls-icon chapter__controls-icon_mode_delete"></span>
        </div>
    </div>
</script>
<div class="main">
    <h1 class="main__title">Alice's Adventures in Wonderland</h1>
</div>
<script src="js/data.js"></script>
<script src="js/main.js"></script>
</body>
</html>
